SERVER_BASE_URL=
SERVER_API_URL=
SERVER_TOKEN=
SERVER_DOMAIN_ID=
SERVER_SEMESTER_ID=

ALLOWED_ORIGIN=

TIMETABLE_INSTANCE_NAME=
TIMETABLE_METHOD_NAME=
LNS_DESTROY_MODE=
LNS_REPAIR_MODE=
LNS_SIZE_MODE=